#header{
    text-align: center;
    padding: 20px;
    font-size: 35px;
    font-family: "Impact";
    color: #ad70f5;
}
#contenido{
    width: 80%;
    min-height: 250px;
    height: auto;
    margin: 20px auto;
    margin-bottom: 30px;
    text-align: center;
    vertical-align: 100%;
    font-size: larger;
    font-family: "Tahoma";
}
footer{
    clear: both;
    position: fixed;
    margin-left: -7px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    height: auto;
    padding: 12px;
    background: #eadbfc;
    font-family: "Tahoma";
}